<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>SNIPPET</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/dark.min.css">
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">SnippetySnipp</a>
    {{#unless admin}}
    <a class="nav-item nav-link link" href="/">Home</a>
    {{/unless}}
    <a class="nav-item nav-link link" href="/scribble">All Snippets</a>
    {{#if admin}}
    <a class="nav-item nav-link link" href="/snippet" class="logout-btn">Create</a>
    <a class="nav-item nav-link link" href="/logout" id="logout-btn" style="float:right!important;">Logout</a>
    {{/if}}
  </nav>
  <main>
    <div class="container">
      {{> flash }}
      {{{ body }}}
    </div>
  </main>
</body>

</html>