<div class="delete">
  <h3>Confirm delete? </h3>
  <br>
  <form action="/snippet/delete/{{id}}" method="POST">
    <input type="submit" class="btn btn-danger" value="Yes, I confirm..">
  </form>
</div>