<div class="jumbotron text-center">
  {{#if admin }}
  <a href="{{usersnippets}}" class="btn btn-outline-danger btn-lg">{{typebtn}}</a>
  {{/if}}
  {{#unless admin}}
  <h1 class="display-3"> {{{ title }}} </h1>
  <hr class="my-4">
  <p class="lead">
  <p class="lead">Welcome, here you can Create, Read, Upload and Delete your own Code Snippets. Just pick Name and
    you're Done!
  </p>
  <hr class="my-4">
  <a href="/register" class="btn btn-outline-secondary btn-lg">Sign Up</a>
  <a href="/login" class="btn btn-dark btn-lg">Log In</a>
  {{/unless}}
</div>