{{#if error}}
<p>
  Error: {{error}}
</p>
{{/if}}



<div class="container text-center">
  <div class="formwrapper">
    <div class="container">
      <p>
      <h2>Hello new face</h2>
      </p>

      <form action="/register" method="POST">
        <div class="form-row">
          <div class="col-sm-12">
            <div class="form-group">
              <input type="text" class="form-control" id="validationServer01" placeholder="Username" name="username"
                required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col-sm-12">
            <div class="form-group">
              <input type="password" class="form-control" id="validationServer02" placeholder="Password" name="password"
                required>
            </div>
          </div>
        </div>
        <button class="buttons" type="submit">Sign Up</button>
      </form>
    </div>
  </div>

</div>