<body id="killbackground">
  <div class="container">
    <a href="/logout" id="logout-btn" class="btn btn-outline-dark my-2 my-sm-2">Logout</a>
    <a href="/snippet" id="showbtn" class="btn btn-outline-dark my-2 my-sm-0">My Snippet Page!</a>
    <br>
    <br>
    <form method="GET" action="/scribble">
    </form>
    <br>
    <ul>
      {{#each znipp}}
      <div class="codesnipp">
        <li>
          <pre><code>{{ text }}</code></pre> MadeBy: {{ usernamE }} - At: {{ createdAt }}
        </li>
      </div>
      {{/each}}
    </ul>
  </div>
  </div>
</body>