<body id="killbackground">
  <div class="container">
    <br>
    <br>
    <form method="GET" action="/scribble">
    </form>
    <br>

    <ul>
      {{#each scribble}}
      <div class="codesnipp">
        <li>
          <pre><code>{{ text }}</code></pre> MadeBy: {{ usernamE }} - At: {{ createdAt }}
        </li>
      </div>
      {{/each}}
    </ul>
  </div>
  </div>
</body>