<body id="killbackground">
  <div class="container">
    <a href="/logout" id="logout-btn" class="logout-btn">Logout</a>
    <br>
    <br>
    All snippets:
    <form method="GET" action="/scribble">
    </form>
    <br>
    <ul>
      {{#each scribble}}
      <div class="codesnipp">
        <li>
          <pre><code>{{ text }}</code></pre> Made by: {{ usernamE }} - At: {{ createdAt }}
        </li>
      </div>
      {{/each}}
    </ul>
  </div>
  </div>
</body>