<body id="killbackground">
  <div class="container">
    <br>
    <br>
    <h3>All snippets</h3>
    <form method="GET" action="/scribble">
    </form>
    <br>
    <ul>
      {{#each scribble}}
      <div class="codesnipp">
        <li>
          <pre><code>{{ text }}</code></pre> Made by: <strong>{{ usernamE }}</strong> | date: {{ createdAt }}
        </li>
      </div>
      {{/each}}
    </ul>
  </div>
  </div>
</body>