
  <div class="container">
    <form method="POST" action="/snippet/update/{{id}}">
      <div class="textaria">
        <br>
        <textarea class="form-control" name="text" rows="8">{{text}}</textarea>
      </div>
      <br>
      <button class="btn btn-outline-success my-2 my-sm-0">Update</button>
    </form>
  </div>