body {
  background: url('./clouds.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.jumbotron {
  background: transparent;
  color: rgb(38, 43, 49);
}
#killbackground {
  background-image: none;
}

.buttons {
  background-image: linear-gradient(
    to right,
    #ffafbd 0%,
    #ffc3a0 51%,
    #ffafbd 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.buttons:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.lead {
  background-color: rgba(238, 238, 238, 0.459);
  padding: 20px;
  font-weight: 300;
}
.formwrapper {
  padding: 20px;
  background-color: rgba(238, 238, 238, 0.692);
  width: 600px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 20%;
  -webkit-box-shadow: 0px 7px 24px -2px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 7px 24px -2px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 7px 24px -2px rgba(0, 0, 0, 0.41);
}

.form-control {
  color: rgba(38, 43, 49);
  background-color: rgba(250, 249, 249, 0.445);
  display: inline-block;
}
.codesnipp {
  border: 1px solid;
  margin-bottom: 40px;
  padding: 20px;
}
ul {
  list-style-type: none;
  margin-left: -40px;
}
.create-heading {
  margin-top: 20px;
}

.link {
  color: rgb(255, 255, 255);
}

.float-link {
  display: inline;
}
a {
  color: rgb(62, 95, 206);
}
a:hover {
  color: rgb(193, 195, 197);
}

h2 {
  color: #40464d;
}

#signup {
  background-color: #f1b3bda2;
}

button {
  border-color: rgba(255, 255, 255, 0.76);
  border-style: outset;
}
